@page "/appDetails/{appId}"
@inject IApplicationService _appService
@inject NavigationManager _navmanager
@inject IAuthenticationServices _auth
@inject IApplicationConfigurationService _appConfig
@using System.IO
@inject IJavascriptCaller jscaller
@inject IJSRuntime JSRuntime

<style>
    .icon {
        width: 30px;
        height: 30px;
    }
</style>
<style>

    .loading-section {
        text-align: center;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .loading-section h2 {
            color: #00b5dc;
        }

    .loader-dot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #0e193e;
        /* linear-gradient( 180deg, rgb(1 7 18) 0%, #0e193e 70%)*/
        /*background-color: #00b5dc;*/
        display: inline-block;
        -webkit-animation: grow 2.1s infinite ease-in-out both;
        animation: grow 2.1s infinite ease-in-out both;
    }

        .loader-dot.dot1 {
            -webkit-animation-delay: -0.96s;
            animation-delay: -0.96s;
        }

        .loader-dot.dot2 {
            -webkit-animation-delay: -0.48s;
            animation-delay: -0.48s;
        }

    @@-webkit-keyframes grow {
        0%, 80%, 100% {
            -webkit-transform: scale(0)
        }

        40% {
            -webkit-transform: scale(1.0)
        }
    }


    .para {
        color: green;
    }

    .pas {
        color: red;
    }
</style>
<div class="loading-section" style="@display">


    <div class="short-description"></div>
    <div class="loader mt-5">
        <div class="loader-dot dot1"></div>
        <div class="loader-dot dot2"></div>
        <div class="loader-dot dot3"></div>
    </div>
</div>
<div style="@none">
    <RadzenCard>
        <h3>Detajet e aplikimit</h3>
        <RadzenTabs Change=@OnChange TabPosition="TabPosition.Top" style="height: 504px; width: 100%; margin: 20px auto;" RenderMode="TabRenderMode.Client">
            <Tabs>
                <RadzenTabsItem Text="Te dhenat e aplikimit">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">@apps?.appName</th>
                               
                            </tr>
                            <tr></tr>
                            <tr>
                                <th scope="row"> @apps?.appDate</th>

                            </tr>
                            <tr>
                                <th scope="row">@apps?.institution?.name</th>

                            </tr>
                            <tr>
                                <th scope="row"> @apps?.status</th>

                            </tr>
                            <tr>
                                @if (apps?.appReviewDate < DateTime.Now)
                                {
                                    <th scope="row" class="para"> Para afatit</th>
                                }
                                else if (apps?.appReviewDate > DateTime.Now)
                                {
                                    <th scope="row" class="pas"> Pas afatit</th>
                                }
                            </tr>
                        </tbody>
                    </table>
                  @if (!userApplications.finished) { 
                <div class="row">
                    @if (UsersDto.role != null && UsersDto.role != "Punojes")
                    {
                        <div class="col">
                            <input type="button" style="float:right" @onclick="(()=>ShowRefuzeApplication(apps.appId))" class="btn btn-danger" value="Kthe per shqyrtim" />
                        </div>
                    }


                    @if (UsersDto.role != null && UsersDto.role == "Drejtor")
                    {
                        <div class="col">
                            <input type="button" class="btn btn-info" @onclick="(()=>ShowAproveMovie(apps.appId))" value="Aprovo aplikimin" />
                        </div>
                    }
                    else
                    {
                        <div class="col">
                            <input type="button" class="btn btn-info" @onclick="(()=>ShowAproveMovie(apps.appId))" value="Kalo ne hapin tjeter" />
                        </div>
                    }

                </div>
                    }
                    
                </RadzenTabsItem>

                <RadzenTabsItem Text="Historiku i aplikimit">
                    <RadzenCard>
                        <table class="table table-striped" style="margin-top:10px">
                            <thead>
                                <tr>
                                    <th scope="col">Aplikimi</th>
                                    <th scope="col">Derguesi</th>
                                    <th scope="col">Marresi</th>
                                    <th scope="col">Koment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in applicationHistories)
                                {
                                    <tr>

                                        <td>@i.AppName</td>
                                        <td>@i.From</td>
                                        <td>@i.To</td>
                                        <td>@i.Commenti</td>

                                    </tr>
                                }

                            </tbody>
                        </table>

                    </RadzenCard>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Dokumentat e aplikimit">

                    @if (documentDtos != null)
                    {
                        <table class="table" style="margin-top:10px">

                            <tbody>
                                @foreach (var i in documentDtos)
                                {
                                    <tr>
                                        <td>
                                            @switch (i.extention)
                                            {
                                                case "application/excel":

                                                    <img src="../img/powerpoint.png" class="icon" />
                                                    break;

                                                case "application/pdf":
                                                    <img src="../img/powerpoint.png" class="icon" />
                                                    break;
                                                case "application/msword":
                                                    <img src="../img/powerpoint.png" class="icon" />
                                                    break;
                                                default:

                                                    break;
                                            }
                                        </td>
                                        <td>@i.name</td>
                                        <td>
                                            <div style="cursor:pointer; text-align:center">
                                                <RadzenIcon Icon="get_app" @onclick="(()=>Download(i))" />
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }


                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenCard>
</div>
@code {
    [Parameter]
    public string appId { get; set; }

    string id { get; set; }
    string display = "";
    string none = "display:none";



    private ApplicationRequestDto apps = new();
    private List<DocumentDto> documentDtos = new();
    private UserApplicationsRequestDto userApplications = new();

    private bool showModal = false;
    ModalOptions options = new ModalOptions()
    {
        HideCloseButton = false
    };
    UsersDto UsersDto = new UsersDto();
    Dictionary<string, string> divs = new();
    List<ApplicationHistory> applicationHistories = new();

    async void showHide()
    {
        await jscaller.Show("headingTwo");

    }
    void OnChange(int index)
    {
        ///console.Log($"Tab with index {index} was selected.");
    }
    protected override async Task OnInitializedAsync()
    {
        int.TryParse(appId, out int newId);
        userApplications = await _appService.GetApplicationDetailsAsync(newId);

        apps = userApplications.applicationDto;

        applicationHistories = await _appService.GetApplicationHistoryAsync(userApplications.applicationDto.appId);
        UsersDto = await _auth.GetLocalUser();

        documentDtos = userApplications.documentDtos;
        display = "display:none";
        none = "";

    }

    [CascadingParameter] public IModalService Modal { get; set; }

    private async void Download(DocumentDto index)
    {
        var fileStream = new MemoryStream(index.bytes);

        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", index.name, "application/octet-stream", index.bytes);
    }
    void ShowRefuzeApplication(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(RefuseModal.requestDto), userApplications);
        Modal.Show<RefuseModal>("Refuse", parameters, options);
    }

    void ShowAproveMovie(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(AproveModal.userApp), userApplications);
        Modal.Show<AproveModal>("Aprove", parameters, options);
    }

}
