@layout LoginLayout
@page "/"
@inject IAuthenticationServices _authservice
@inject NavigationManager _navmanager

@inject IToastService toastService

<style media="screen">
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        /* background-color: #080710;*/
        background-color: #0e193e;
    }

    form {
        height: 520px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,10%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }

        form * {
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

        input::placeholder {
            color: #e5e5e5;
        }



    .social {
        margin-top: 30px;
        display: flex;
    }
</style>

<center class=".body">
    <EditForm Model="Request">
        <h3>Login</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" autocomplete="off" @bind-value="@Request.username" @onclick="EmptyUsr" id="username">
        <span>@usernameerror</span>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" autocomplete="on" @bind-value="@Request.password" @onclick="EmptyPass" id="password">
        <span>@paswerror</span>
        <button type="button" class="btn btn-info" style="margin-top:10px" @onclick="OnLogin">Log In</button>
        <div class="social">
        </div>
        <span>@wrongpass</span>
    </EditForm>
</center>



@code {
    private LoginRequest Request = new();
    private string usernameerror = "";
    private string paswerror = "";
    private string wrongpass = "";

    private async Task OnLogin()
    {
        if (validate(Request))
        {

            var result = await _authservice.Login(Request);

            if (!result.success)
            {
                toastService.ShowError("Kredinciale te gabuara!");
               
            }
            else
            {
                _navmanager.NavigateTo($"/dashboard");
            }
        }


    }

    bool validate(LoginRequest login)
    {
        if (string.IsNullOrEmpty(login.username))
        {
            usernameerror = "Ju lutem plotesoni username";
            return false;
        }
        if (string.IsNullOrEmpty(login.password))
        {
            // paswerror = "Ju lutem plotesoni fjalekalimin";
            toastService.ShowError("Ju lutem plotesoni fjalekalimin");
            return false;
        }
        return true;
    }
    private async Task OnRegister()
    {
        _navmanager.NavigateTo($"/register");
    }

    void EmptyUsr()
    {
        usernameerror = "";
    }
    void EmptyPass()
    {
        paswerror = "";
    }

}
